<section>
    <div class="gap remove-gap">
        <div class="container">
            <div class="sec-tl text-center">
                <span>Obtenha informações atualizadas de Notícias e Eventos</span>
                <h2 itemprop="headline">As Nossas Notícias & <span class="theme-clr">Eventos</span></h2>
            </div>
            <div class="blg-evnt-wrp">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="remove-ext5">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="blg-bx">
                                        <div class="blg-thmb"><a href="blog-detail.html" title="" itemprop="url"><img src="assets/images/resources/blg-img1-1.jpg" alt="blg-img1-1.jpg" itemprop="image"></a></div>
                                        <div class="blg-inf">
                                            <h6 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Road Closed, House On Fire</a></h6>
                                            <ul class="pst-mta">
                                                <li><i class="far fa-calendar-alt"></i><a href="#" title="" itemprop="url">Aug 25, 2024</a></li>
                                                <li><i class="fas fa-user"></i><a href="#" title="" itemprop="url">Nodi Blake</a></li>
                                            </ul>
                                            <p itemprop="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                            <a href="blog-detail.html" title="" itemprop="url">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="blg-bx">
                                        <div class="blg-thmb"><a href="blog-detail.html" title="" itemprop="url"><img src="assets/images/resources/blg-img1-2.jpg" alt="blg-img1-2.jpg" itemprop="image"></a></div>
                                        <div class="blg-inf">
                                            <h6 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Shoe Factory Caught Fire</a></h6>
                                            <ul class="pst-mta">
                                                <li><i class="far fa-calendar-alt"></i><a href="#" title="" itemprop="url">Oct 14, 2024</a></li>
                                                <li><i class="fas fa-user"></i><a href="#" title="" itemprop="url">Nodi Blake</a></li>
                                            </ul>
                                            <p itemprop="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                            <a href="blog-detail.html" title="" itemprop="url">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="evnt-wrp">
                            <div class="evnt-bx">
                                <span class="evnt-dat"><a class="theme-bg" href="#" title="" itemprop="url">18<i>Oct</i></a></span>
                                <div class="evnt-inf">
                                    <h5 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Emergency Medical Services Tips</a></h5>
                                    <ul class="pst-mta">
                                        <li><i class="fas fa-map-marker-alt theme-clr"></i>Glasgow, DO4 89GR</li>
                                        <li><i class="far fa-clock theme-clr"></i>03:00 pm - 10:00 pm</li>
                                    </ul>
                                    <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    <a class = "event-btn" href="event-detail.html" title="" itemprop="url">Read More</a>
                                </div>
                            </div>
                            <div class="evnt-bx">
                                <span class="evnt-dat"><a class="theme-bg" href="#" title="" itemprop="url">21<i>Oct</i></a></span>
                                <div class="evnt-inf">
                                    <h5 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Emergency Medical Services Tips</a></h5>
                                    <ul class="pst-mta">
                                        <li><i class="fas fa-map-marker-alt theme-clr"></i>Glasgow, DO4 89GR</li>
                                        <li><i class="far fa-clock theme-clr"></i>03:00 pm - 10:00 pm</li>
                                    </ul>
                                    <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class = "event-btn" href="event-detail.html" title="" itemprop="url">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap black-layer opc8">
        <div class="fixed-bg" style="background-image: url(https://images.impresa.pt/sicnot/2023-07-01-Bombeiros.jpg-364fe7d4/original); background-position: center center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; "></div>
        <div class="container">
            <div class="shrt-fcts-wrp">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-lg-5">
                    <img class ="facts-mockup animated bounce" src = "assets/images/caminhao-de-bombeiros.png" alt="mockup-image">
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="fcts-wrp">
                            <div class="sec-tl">
                                <span>Youth Fire Stop Prevention & Intervention Program.</span>
                                <h2 itemprop="headline">Few Facts About Naar</h2>
                            </div><!-- Sec Title -->
                            <p itemprop="description">Every live, every property we save does matter, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <ul class="fcts-lst">
                                <li><span class="counter">369</span><h6 itemprop="headline">Emergencies</h6></li>
                                <li><span class="counter">421</span><h6 itemprop="headline">Traffic Crashes</h6></li>
                                <li><span class="counter">275</span><h6 itemprop="headline">Fire Emergencies</h6></li>
                                <li><span class="counter">50</span><h6 itemprop="headline">Year of Experience</h6></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>